{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<div class="container col-md-8">
	<h2>About</h2>
	<p>An international student studying Information Technology in UNSW(The University of New South Wales), Sydney, Australia. Good at web application developing based on Django, Flask, SpingMVC and Bootstrap. Having the ability of coding with C/C++, Perl/Shell and SQL as well.</p>
	<p>Spend most of the spare time on movies, music and football.</p>
	<p>Love is Manchester United.</p>
	<p>Can't live without YouTube. Can't code without Stack Overflow.</p>
</div>
{% endblock %}