{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<form class="container col-md-8" action="" method="POST">
	{% csrf_token %}
	<div class="row py-2">
		<label class="col-md-3 col-form-label">New Password</label>
		<div class="col-md-9">
			{{ form.password1 }}
		</div>
	</div>
	<div class="row py-2">
		<label class="col-md-3 col-form-label">Confirm Password</label>
		<div class="col-md-9">
			{{ form.password2 }}
		</div>
	</div>
	<div class="row py-2">
		<div class="col-md-12 text-center">
			<button class="btn btn-primary" type="Submit">Submit</button>
		</div>
	</div>
	<div class="row py-2">
		<div class="col-md-12 text-center text-danger">
			<small>{{ error }}</small>
		</div>
	</div>
</form>
{% endblock %}